 /* header******* */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 100px;
    width: 86.5%;
    

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav > ul{
    display: flex;
 }

.first-text{
    color:#FF42A5;
}
.gamer{
    text-align: center;
    font-size: 50px;
    font-style: normal;
   
}
.nav-list{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
}
.nav-list3{
    color: #3C354F;
    text-align: center;
    row-gap: 10px;
    height: 30px;
    width: 200px;
    font-size: 18px;
    font-style: normal;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* *************main start ****************/
main{
    max-width: 1440px;
    margin: 0 auto;

}

.gamer-title{
    color: #0B0223;
   text-align: center;
   font-size: 45px;
   font-style: normal;
}
.gamer-info{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.btn-primary{
    border-radius: 10pxpx;
    background: #FF42A5;
    padding: 10px;
    border-radius: 8px;

}
.btn-primary-two{
    background: #4EC5F7;
    padding: 10px;
    border-radius: 10px;
    border-radius: 8px;
}

.gamer-right-img{
    width: 100%;
    height: 500px;
}

/************* gamer style sections ***************** */
.gamer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    /* margin: 20px 100px; */
    justify-content: space-between;
    height: 450px;
    width: 86.5%;
}
.gamer-content{
    margin-right: 150px;
    align-items: center;
    justify-items: center;

}
.text-light-gray{
    font-size: 20px;
    margin-bottom: 5px;
}
/************************** funny video section style *********************/
.funny-video{
    height: 600px;
    width: 99.7%;
    margin: 0 auto;
   
}

.funny-video-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;

}
.online-game{
    /* display: flex; */
    text-align: center;
    justify-content: center;
}
.funny-video-title{
    color: #0B0223;
    font-size: 30px;
    font-style: normal;


}
.funny-video-description{
    color: #534C64;
    font-size: 1rem;
    font-style: normal;

}

.games-img-size{
    width: 300px;
    height: 300px;
    border-radius: 16px;
}
.img-play{
    margin-top:-300px;
    margin-left: 140px;
    
    transform: translateY(-340%);

}

.games-images{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    width: 80%;
    gap: 10px;
    margin-top: 50px; 
    
}

/* ****************************Play Instantly********************* */
.play{
    background: #FFF;
     height: 650px; 
     width: 99.7%;
    
     

}


.play-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}
.play-info{
    align-items: center;
    justify-content: center;
    padding: 150px;
    margin-bottom: 250px;

}
.play-title{
    font-size: 35px;
    font-style: normal;
    
}
.play-title-text{
    color: #F948B2;
}
.play-description{
    color: #534C64;
    font-size: 18px;
    font-style: normal
}
.play-img{
    width: 90%;
    height: 400px;
}
.play-img-talking{
    border-radius: 8px;
    color: #FFF;
    width: 150px;
    height: 150px;
    text-align: center;
    position: relative;
    bottom: 120px;
    left: -80px;

}


 /************************ catum details****************.... */
.catum-details{
    height: 400px;
    width: 99.7%;
    
}

.catum-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align:center;
    justify-content: center;
    width: 80%;
     margin: 50px auto; 
}
.catom-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin: 40px auto;
    
}
.catom-info:hover{
    border: 2px solid #F948B2;
    border-radius: 5px;
    color:#F948B2;
}
 


.img-size{
    height: 45px;
    
}
 /* ***************footer style ***************/
.footer{
    background: #0B0223;
    height: 450px;
    text-align: center;
    justify-content: center;
    color: #FFF;
    /* margin: 0px auto; */
    width: 99.7%;
    
    
}

.footer-title{
    display: flex;
    text-align: center;
    justify-content: center;
   
}


.footer-story{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
}

.footer-safety{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;

}


.footer-icon{
    width: 50px;
    gap: 50px;
    border-radius: 15px;
}
.footer-info{
    padding: 80px;
}

/******************* Mobile styles responsive********************************/

@media screen and (max-width:576px) {
    header{
        padding: 50px;
    }
    nav {
        flex-direction: column;
     
    }
    nav li a {
        gap: 20px;
        font-size: 30px;
    }
    nav ul {
        flex-direction: column;
    }
    .gamer-container{
        flex-direction: column;
        height: 1200px;
    }
    .gamer-content{
        flex-direction: column;
        
    }
    .funny-flex{
        flex-direction: column;
       
    }
    .games-images{
        flex-direction: column;
        height: 1200px;
    }
    .play-container{
        flex-direction: column;
    }
    .play-img-div{
        flex-direction: column;
        margin-bottom: 900px;
    }
    .play{
        height: 1500px;
    }
    
    .funny-video{
        height: 1800px;
    }
    .catum-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .catum-details{
        height: 800px;
    }
    
    .footer{
        height: 1200px;
    }
    .footer-story{
        flex-wrap: wrap;
    }
}

